body {
    font-family: Arial;
    background-color: #f2f7ff;
    text-align: center;
}

h1, h2 {
    color: #2c3e50;
}

.category {
    background-color: #4a90e2;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    display: inline-block;
    width: 200px;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

li {
    background-color: white;
    margin: 8px;
    padding: 8px;
    border-radius: 5px;
}

.btn {
    background-color: #27ae60;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
